.userDate {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;

  .time,
  .author,
  .readingTime,
  .editedAt {
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: var(--info);
  }

  .editedAt {
    font-style: italic;

    position: absolute;
    top: 40px;
    left: 0;
  }
}
