* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highilight: #ff57b2;
  --heading: #f8f8f8;
  --background: #1a1d23;
  --info: #bbbbbb;
  --body: #d7d7d7;
}

html {
  font-size: 62.5%;
}
body {
  background: var(--background);
  color: var(--heading);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

#main-container {
  max-width: 1120px;
  margin: 30px auto;
}
